<!DOCTYPE html>
<html>
    <head>
        <title>Scoreboard</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
		<meta charset="utf-8"/>
    </head>
    <body>
        <h1>Start a new scoreboard or join an existing one!</h1>
        <h2>Game codes require 4-12 lowercase letters and hyphens only.</h2>
        <form action="" method="post" novalidate>
            <p>
                {{ form.game_code.label }}<br>
                {{ form.game_code(size=32) }}<br>
                {% for error in form.game_code.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>
